*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
     
}
html{
    scroll-behavior: smooth;
}
body{
    background: bl;
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(image/bg2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: contain;
    
    
}
.container{
    padding: 10px 5%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.logo{
    width: 200px;
}
nav ul li{
    display:inline-block;
    list-style: lower-greek;
    margin: 20 px 20 px;
    margin-inline: 7px;

}
nav ul li a{
     color:bisque ;
     font-weight: 900;
     text-decoration: none;
     font-size: 20px;
     font-family: 'Courier New', Courier, monospace;
     position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #97978d;
    position: absolute;
    left: 0%;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 5%;
}
.header-text h1{
    font-size: 60px;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.header-text h1 span{
    color: #97978d;
    font-family: 'Courier New', Courier, monospace;
}
.header-text h2{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    color: #E8E5E5;
}
.header-text h3{
    font-size: 30px;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}
/* ------------------------------------------about------------------------------------- */
#about{
    padding: 80px 0;
    color: #fff;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 20px; 
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap ;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
}
.about-col-2{
    flex-basis: 65%;
    /* font-family: 'Courier New', Courier, monospace; */
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    /* font-family: 'Courier New', Courier, monospace; */
    color: #97978d;
}
.tab-titles{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 0 20px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    color: bisque ;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #97978d;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
    font-family: 'Courier New', Courier, monospace;
    
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0 ;
    font-family: 'Courier New', Courier, monospace;
}
.tab-contents ul li span{
    color:bisque;
    font-size: 14 px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* -------------------------------------education--------------------------------- */
#education{
    padding: 30 px 0;
}
.education-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.education-list div{
    background: #D1c0a8;
    padding: 40px;
    font-size: 18px;
    color: #080808;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.education-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.education-list div h2{
    font-size: 28px;
    font-weight:900;
}
.education-list div:hover{
    background: #97978d;
    transform: translateY(-10px);
}

/* ------------------------------skills-------------------------------------- */
#skills{
    padding: 50px 0;
}
.skill-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.skill{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.skill img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#90908C);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 18px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 700;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #90908C;
    text-decoration: none;
    font-size: 14px;
    line-height: 40px;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.skill:hover img{
    transform: scale(1.1);
}
.skill:hover .layer{
    height: 100%;
}

/* -------------------------------------interest------------------------------------ */
#interest{
    padding: 30 px 0;
}
.interest-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.interest-list div{
    background: #D1c0a8;
    padding: 40px;
    font-size: 18px;
    color: #080808;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.interest-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.interest-list div h2{
    font-size: 28px;
    font-weight:900;
}
.interest-list div:hover{
    background: #97978d;
    transform: translateY(-10px);
}
/* ------------------------------css for small screen------------------- */
nav .fa-solid{
    display:none;
}
@media only screen and (max-width: 600px){
    #header{
        background-image: url(image/phonebg.jpg);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px; 
    }
    nav ul{
        background: #97978d ;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px; 
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .subtitle{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .header-text{
        margin-top: 5%;
    }
    .header-text h1{
        font-size: 40px;
        margin-top: 0px;
    }

}